block ad
    center
        script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        ins(class='adsbygoogle', style='display:block', data-ad-client="ca-pub-3004995131438848", data-ad-slot="5282976806", data-ad-format="auto", data-full-width-responsive="true")
        script (adsbygoogle = window.adsbygoogle || []).push({});