extends layout
block content
    -function cleanName(name) {
    -   return name.length > 13 ? name.slice(0, 10)+"...":name;
    -}
    br
    include ad
    br
    br
    #users
        each user in data
            .user
                #picture
                    img(style="cursor: pointer;", src=user['picture'], onclick="location.href = '/user/"+region+"/"+user.id+"'", onerror="this.onerror=null;this.src='/images/no_image_available.jpeg';", width=100, height=100)
                #name
                    | #[a(href="/user/"+region+"/"+user['id']) #{cleanName(user['username'])}]
        br
        include ad